.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    .image {
      margin-right: 0.5rem;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      @media (max-width: 567px) {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0.5rem;
      }
      overflow: hidden;
      position: relative;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition-duration: 0.55s;
      }
      span{
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        width: 100%;
        height: 100%;
        opacity: 0;
        font-size: 3rem;
        justify-content: center;
        align-items: center;
        color: #FFF;
        pointer-events: none;
      }

      filter: drop-shadow(1px 2px 3px black);
      &:hover {
        filter: brightness(0.9) drop-shadow(2px 4px 6px black);
        img{
          transform: scale(1,1) !important;
          transition-duration: 3s;
        }
        span{
          opacity: 1;
        }
      }
    }
  }


  .container{

    height: 100%;
    width: 90%;
    min-width: 308px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #454035;
  border-bottom: 3px solid #454035;
}
.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}



/*-------------------------------------------------
gallery for the prevew and thumb
 --------------------------------------------------*/
//p {
//  font-family: Lato;
//}
//
//.container {
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  margin: 0 auto;
//  width: 460px;
//  height: 520px;
//  border: 2px solid #eee;
//  border-radius: 10px;
//}
//
//.wrapper {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-evenly;
//  margin-top: 30px;
//}
//
//img.selected {
//  opacity: 0.8;
//}
//
//.arrow-right {
//  width: 0;
//  height: 0;
//  border-top: 10px solid transparent;
//  border-bottom: 10px solid transparent;
//
//  border-left: 20px solid #000;
//  left: 460px;
//  position: absolute;
//  top: 210px;
//  cursor: pointer;
//  opacity: .7
//}
//
//.arrow-right:hover {
//  opacity: .4;
//}
//
//.arrow-left {
//  width: 0;
//  height: 0;
//  border-top: 10px solid transparent;
//  border-bottom: 10px solid transparent;
//
//  border-right: 20px solid #000;
//  position: absolute;
//  left: 100px;
//  top: 210px;
//  cursor: pointer;
//  opacity: .7;
//}
//
//.arrow-left:hover {
//  opacity: .4;
//}


