<section class="slider_section ">
    <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
<!--                <img src="assets/images/content_img.png" width="98%" height="400" alt="s-1">-->
            </div>
        </div>
    </div>
</section>
<div class="container mt-4">
  <div class="row">
    <div class="col-4" *ngFor="let img of images1">
      <img src="{{img.img}}">
    </div>

  </div>
</div>
<div class="container mt-4">


<!--    <mat-grid-list cols="4" rowHeight="150px">-->
<!--        <mat-grid-tile-->
<!--                *ngFor="let item of list; let index = index;"-->
<!--                [rowspan]="item.rows"-->
<!--                [colspan]="item.cols"-->
<!--                style="background-color: royalblue;">-->

<!--            <img src="https://picsum.photos/200/{{300 + index}}" alt="" style="object-fit: cover; width: 100%; height: 100%;">-->


<!--        </mat-grid-tile>-->
<!--    </mat-grid-list>-->
<!--    <div class="gallery">-->
<!--        <div *ngFor="let img of images" [style.gridRow]="img.rows" [style.gridCol]="img.col" class="image">-->
<!--            <img [src]="img.url">-->
<!--            <span>*</span>-->
<!--        </div>-->
<!--    </div>-->
</div>

<div class="row">
<!--    <mdb-image-modal [modalImages]="imagesBasic" type="no-margin"></mdb-image-modal>-->
</div>
<div class="gallerize-example">

    <h2>Lightbox Example</h2>
<!--    <p class="container">-->
<!--        <img *ngFor="let item of items; index as i"-->
<!--             [lightbox]="i"-->
<!--             [src]="item.data.thumb">-->
<!--    </p>-->


  <h2>Another lightbox with custom gallery config</h2>
  <p class="container">
<!--    <img *ngFor="let item of items; index as i"-->
<!--         [lightbox]="i"-->
<!--         [gallery]="'anotherLightbox'"-->
<!--         [src]="item.data.thumb">-->
  </p>
</div>
<h1>Images</h1>
<div class="row">
<!--  <mdb-image-modal [modalImages]="imagesBasic" type="no-margin"></mdb-image-modal>-->
</div>
<!--<div class="row">-->
<!--  <mdb-image-modal [modalImages]="imagesBasic" type="no-margin"></mdb-image-modal>-->
<!--</div>-->
<!--<div class="container-fluid"  data-aos-delay="100">-->

<!--  <div class="row g-0">-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-5.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-6.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-7.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-lg-3 col-md-4">-->
<!--      <div class="gallery-item">-->
<!--        <a href="assets/img/gallery/gallery-8.jpg" class="gallery-lightbox" data-gall="gallery-item">-->
<!--          <img src="assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->


<div class="container">
<!--  <div class="arrow-right" (click)="selectArrow()"></div>-->
<!--  <div class="arrow-left" (click)="selectLeftArrow()"></div>-->
<!--  <app-preview srcUrl="{{pictures[currentPicture]}}">-->
<!--  </app-preview>-->
  <div class="wrapper">
<!--    <app-thump *ngFor="let picture of pictures; let i = index" (click)="select(i)" srcUrl="{{picture}}"> </app-thump>-->
    <!-- <app-thumb (click)="select(1)" srcUrl="{{pictures[1]}}"></app-thumb>
    <app-thumb (click)="select(2)" srcUrl="{{pictures[2]}}"></app-thumb>
    <app-thumb (click)="select(3)"srcUrl="{{pictures[3]}}"></app-thumb> -->
<!--    <button-->
<!--    (click)="onclick()"></button>-->
  </div>
</div>

<ng-container #htmlElement>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</ng-container>
