<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+1 5589 55488 55">+1 5589 55488 55</a>

      </div>
      <div class="social-links">
        <a href="#" class="twitter"><img src="assets/images/facebook.png"></a>
        <a href="#" class="facebook"><img src="assets/images/twitter.png"></a>
        <a href="#" class="instagram"><img src="assets/images/pinterest.png"></a>
        <a href="#" class="linkedin"><img src="assets/images/insta.png"></a>
      </div>
    </div>
  </div>
  <!--Top Bar End Here-->


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"><span>Md</span> Group</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><i class="fa fa-home" aria-hidden="true"></i><a routerLink="/home">Home</a></li>
          <li><i class="fa fa-eye" aria-hidden="true"></i><a routerLink="/about-us">About Us</a></li>
          <li><i class="fa fa-image" aria-hidden="true"></i><a routerLink="/gallery">Gallery</a></li>
          <li class="drop-down"><i class="fa fa-cubes" aria-hidden="true"></i><a routerLink="/product">Products</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
  <!--        <li><i class="fa fa-group" aria-hidden="true"></i><a href="#doctors">Management Team</a></li>-->
          <li><i class="fa fa-headphones" routerLink="/contact" aria-hidden="true"></i><a routerLink="/contact">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="#appointment" class="appointment-btn scrollto">Login</a>

    </div>
  </header>
  <!-- End Header -->
