.box {
  width: 90px;
  height: 70px;
  background-color: #eee;
  border-radius: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
