body {
  font-family: 'Open Sans', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}
*:focus{
	outline:none;
}
.layout_padding {
  padding: 45px 0 45px;
  background: #f7f6ff;
}

.layout_padding2 {
  padding: 45px 0 45px;
 
}

.layout_padding2:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #56509f;
  opacity: 0.95;
  z-index:-1;
}

.parallax {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-transition: background-position .2s ease-in;
  -moz-transition: background-position .2s ease-in;
  -o-transition: background-position .2s ease-in;
  transition: background-position .2s ease-in;
  -webkit-background-size: cover;
  background-size: cover;
}

.parallax .parallax-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  color: #eee;
}

.layout_padding3 {
  padding: 45px 0 45px;
}
.layout_padding4 {
  padding: 45px 0 45px;
  background: #f7f6ff;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.container-fluid{
  padding-right: 30px;
    padding-left: 30px;
}

.layout_padding2 .heading_container h2{
	color:#fff;
}

.layout_padding4 .container-fluid{
	padding-left:0;
	padding-right: 0;
}
.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
}

.heading_container h2 span {
  color: #f3c93e;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
   background: rgba(86,80,159,1);
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: rgba(86,80,159,0.8);
  color: #fff;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #56509f;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #fff;
}

#topbar .contact-info i {
  color: #fff;
  padding-right: 4px;
  margin-left: 15px;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links{
    position: fixed;
    left: auto;
    right: 0;
    top: 200px;
    bottom: auto;

}

#topbar .social-links a {
  display: block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  opacity: 0.7;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
  top: 0;
}

#header.header-scrolled .nav-menu > ul > li > i {
  display: none;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #000;
}
#header .logo span {
  color: #56509f;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 20px 20px 20px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.nav-menu > ul > li:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 0;
  background: #f7d22c;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.nav-menu > ul > li:hover:before,
.nav-menu > ul > li.active:before {
   height: 100%;
}

.nav-menu > ul > li > i {
    display: block;
    text-align: center;
    font-size: 25px;
    color: #56509f;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #56509f;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 2px;
  
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a,
.nav-menu a:hover, .nav-menu .active > i, .nav-menu li:hover > i {
  color: #000;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #56509f;
  border: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #000;
}

.nav-menu .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 5px;
  display: none;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\f078";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  position: absolute;
  right: 15px;
  display: none;
}

/* Get Startet Button */
.appointment-btn {
  margin-left: 25px;
  background: #56509f;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background: #f7d22c;
  color: #000;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #1977cc;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2c4964;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #1977cc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
/*end header section*/

/* slider section */
.slider_section {
    margin-top: 136px;
}
.slider_section img{
  width: 100%;
  max-width: 100%;
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
}
.carousel-indicators li{
  height: 6px;
}
/*end slider section*/

/* product section */
.product_section .heading_container {
  margin-bottom: 25px;
}

.product_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 0px #ddddda solid;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  /*top: 0;*/
}

.product_section .box:hover {
   /*top: -10px;*/
   box-shadow: 0 0 16px rgba(0,0,0,0.4);
}

.product_section .box .img-box {
  background-color: transparent;
  width: 100%;
  height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.product_section .box .img-box img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.product_section .box .img-box .add_cart_btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background-color: rgba(86,80,159,0.8);
  color: #ffffff;
  position: absolute;
  top: auto;
  bottom: 22px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  z-index: 3;
}

.product_section .box .img-box .add_cart_btn:hover {
  background-color: rgba(86,80,159,1);
  color: #ffffff;
}

.product_section .box .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: none;
  
}
.product_section .box:hover .img-box img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.product_section .box .img-box img {
   -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.product_section .box .detail-box {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 15px;
}
.product_section .box .detail-box h5 {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 600;
}
.product_section .box .product_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_section .box .product_info p {
  color: #666;
}

.product_section .box .star_container {
  color: #f2b01e;
}

.product_section .box:hover .img-box .add_cart_btn {
  opacity: 1;
  visibility: visible;
}

.product_section .box:hover .img-box::before {
  opacity: .55;
}

.product_section .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn_box .view_more-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f7d22c;
  color: #000;
  border-radius: 5px;
  border: 1px solid #f3c93e;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.product_section .btn_box .view_more-link:hover {
  background: #56509f;
  color: #fff;
  border-color: #56509f;
}
.layout_padding2.product_section .box .img-box .add_cart_btn{
	background:rgba(247,210,44,0.8);
	color: #000;
}
.layout_padding2.product_section .box .img-box .add_cart_btn:hover{
	background:rgba(247,210,44,1);
	color:#000;
}
.layout_padding2.product_section .btn_box .view_more-link:hover{
	background:#fff;
	border-color:#fff;
	color:#000;
}
.layout_padding3.product_section .box .detail-box{
	position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}
.layout_padding3.product_section .box{
	margin-top:0;
}
.layout_padding3.product_section .box .img-box .add_cart_btn{
	bottom: 145px;
}
.layout_padding3.product_section .box .detail-box h5,
.layout_padding3.product_section .box .product_info p{
	color: #fff;
}
.layout_padding3 .owl-carousel .owl-prev,
.layout_padding3 .owl-carousel .owl-next{
	position:absolute;
	left:-15px;
	right:auto;
	top:0;
	bottom:0;
	margin: auto;
	z-index:0;
    background-color:#fff !important;
	width:45px;
	height:100px;
	border-radius: 0 10px 10px 0;
	
}
.layout_padding3 .owl-carousel .owl-prev span,
.layout_padding3 .owl-carousel .owl-next span{
	font-size: 45px;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 12%;
    bottom: auto;
    margin: auto;
    transform: translateY(-50%);
}
.layout_padding3 .owl-carousel .owl-next{
	left:auto;
	right:-15px;
	border-radius: 10px 0 0 10px;
}
/*end product section*/

/*--------------------------------------------------------------

# Clients
--------------------------------------------------------------*/
.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  width: 60%;
  opacity: 1;
  transition: 0.3s;
}

.clients .owl-item img:hover {
  opacity: 0.5;
}

.clients .owl-nav, .clients .owl-dots,
.product_section .owl-nav, .product_section .owl-dots{
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot,
.product_section .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active,
.product_section .owl-dot.active {
  background-color: #f7d22c !important;
}

/*--------------------------------------------------------------

/* footer section*/
.footer_section {
  position: relative;
  background-color: #2c2766;
  color: #ffffff;
  padding: 90px 0 0 0;
  text-align: left;
}

.footer_section h5 {
  margin-bottom: 15px;
  font-size: 24px;
}

.footer_section .info_links ul {
  padding: 0;
}

.footer_section .info_links ul li {
  list-style-type: none;
}

.footer_section .info_links ul li a {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 5px;
}

.footer_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.footer_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #000;
  background: #f7d22c;
  margin-top: 15px;
  text-transform: uppercase;
}

.footer_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_section .info_form .social_box a {
  margin-right: 25px;
  color: #ffffff;
  font-size: 24px;
}

.footer_section .copyright {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}

.footer_section .copyright a {
  color: inherit;
}


/*# Responsive Css */

@media (max-width: 1365px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\f078";
  }
}

@media (max-width: 1199px) {
  #header {
    top: 40px;
  }
}

@media (max-width: 991px) {
  #header {
    top: 0;
    padding: 10px 0;
  }
  #header .logo {
    font-size: 28px;
  }
  .slider_section {
      margin-top: 57px;
  }
}

@media (max-width: 767px) {
  .appointment-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

@media (max-width: 449px) {
 
}

