<section class="slider_section ">
  <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--                <img src="assets/images/content_img.png" width="98%" height="400" alt="s-1">-->
      </div>
    </div>
  </div>
</section>
<div class="container mt-4">
<div class="row">
  <div class="card col-4" style="width: 18rem;" *ngFor="let img of images">
    <img class="card-img-top" src="{{img.img}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

</div>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="item col-sm-6 col-md-4 mb-3" *ngFor="let image of images">
      <a href="{{image.img}}" class="fancybox" data-fancybox="gallery1">
        <img src="{{image.img}}" width="100%" height="100%">
      </a>
    </div>
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/2.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/2.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/2.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/2.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/2.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/2.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/2.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/2.jpg" width="100%" height="100%">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/3.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/3.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/4.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/4.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/b1.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/b1.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/b2.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/b2.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="item col-sm-6 col-md-4 mb-3">-->
<!--      <a href="/assets/image1/b3.jpg" class="fancybox" data-fancybox="gallery1">-->
<!--        <img src="/assets/image1/b3.jpg" width="100%" height=" ">-->
<!--      </a>-->
<!--    </div>-->
  </div>
</div>
