.container1
{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: #ebf5fc;

}
.container1 .card{
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
  inset -5px -5px -5px rgba(255,255,255,0.5),
  5px 5px 5px rgba(0,0,0,0.05),
  -5px -5px -5px rgba(255,255,255,0.5);
  border-radius: 15px;
  margin: 30px;
}

.container1 .card .box
{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #ebf5fc;
  box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

}

.container1 .card:hover .box
{
  transform: translateY(-30px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  background: linear-gradient(45deg,#b95ce4,#4f29cd);
}

.container1 .card .box .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 800em;
  color: rgba(0,0,0,0.02);
  transition: 0.5s;
  pointer-events: none;
}
.container1 .card:hover .box .content h2
{
  color: rgba(0,0,0,0.05);
}

.container1 .card:hover .box .content h3
{
  font-size: 1.1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.container1 .card:hover .box .content h3,
.container1 .card:hover .box .content p
{
  color: #fff;
}

.container1 .card .box .content p
{
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.container1 .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background-color: #03a9f4;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container1 .card:hover .box .content a
{
  background-color: #ff568f;
}


body,html {
  height: 100%;
  background-color: white;
}

.container {
  overflow: hidden;
  .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
    .logos {
      width: 100%;
      display: inline-block;
      margin: 0px 0;
      .fab {
        width: calc(100% / 5);
        animation: fade-in 0.5s
        cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/**
* Product Carousal Css Start Here
 */
.tcb-product-slider {
  background: #333;
  background-image: url(https://unsplash.it/1240/530?image=721);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.tcb-product-slider .carousel-control {
  width: 5%;
}
.tcb-product-item a {
  color: #147196;
}
.tcb-product-item a:hover {
  text-decoration: none;
}
.tcb-product-item .tcb-hline {
  margin: 10px 0;
  height: 1px;
  background: #ccc;
}
@media all and (max-width: 768px) {
  .tcb-product-item {
    margin-bottom: 30px;
  }
}
.tcb-product-photo {
  text-align: center;
  height: 180px;
  background: #fff;
}
.tcb-product-photo img {
  height: 100%;
  display: inline-block;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}
.tcb-product-title h4 {
  margin-top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tcb-product-rating {
  color: #acacac;
}
.tcb-product-rating .active {
  color: #FFB500;
}
.tcb-product-price {
  color: firebrick;
  font-size: 18px;
}



.details {
  margin: 50px 0; }
.details h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 3px; }
.details .back-link {
  text-align: center; }
.details .back-link a {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 30px;
  background: #333;
  color: #fff;
  border-radius: 24px; }
.details .back-link a svg {
  margin-right: 10px;
  vertical-align: text-top;
  display: inline-block; }
/***
*Product Carousal end here
 */
