<!-- slider section -->
<section class="slider_section ">
    <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">
  
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
  
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/s-1.jpg" alt="s-1">
        </div>
        <div class="carousel-item">
          <img src="assets/images/s-2.jpg" alt="s-2">
        </div>
        <div class="carousel-item">
          <img src="assets/images/s-3.jpg" alt="s-3">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
  
    </div>
  </section>
  <!-- end slider section -->
  
  <!-- slider section -->
  <!--<section class="slider_section ">-->
  <!--  <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">-->
  
  <!--    &lt;!&ndash; Indicators &ndash;&gt;-->
  <!--    <ul class="carousel-indicators">-->
  <!--      <li data-target="#demo" data-slide-to="0" class="active"></li>-->
  <!--      <li data-target="#demo" data-slide-to="1"></li>-->
  <!--      <li data-target="#demo" data-slide-to="2"></li>-->
  <!--    </ul>-->
  
  <!--    &lt;!&ndash; The slideshow &ndash;&gt;-->
  <!--    <div class="carousel-inner">-->
  <!--      <div class="carousel-item active">-->
  <!--        <img src="assets/images/s-1.jpg" alt="s-1">-->
  <!--      </div>-->
  <!--      <div class="carousel-item">-->
  <!--        <img src="assets/images/s-2.jpg" alt="s-2">-->
  <!--      </div>-->
  <!--      <div class="carousel-item">-->
  <!--        <img src="assets/images/s-3.jpg" alt="s-3">-->
  <!--      </div>-->
  <!--    </div>-->
  
  <!--    &lt;!&ndash; Left and right controls &ndash;&gt;-->
  <!--    <a class="carousel-control-prev" href="#demo" data-slide="prev">-->
  <!--      <span class="carousel-control-prev-icon"></span>-->
  <!--    </a>-->
  <!--    <a class="carousel-control-next" href="#demo" data-slide="next">-->
  <!--      <span class="carousel-control-next-icon"></span>-->
  <!--    </a>-->
  
  <!--  </div>-->
  <!--</section>-->
  <!-- end slider section -->
  
  
  <!-- product section -->
  
  <section class="product_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2>
          <span>PRODUCT</span> CATEGORIES
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/b1.jpg" alt="">
              <a href="" class="add_cart_btn">
                  <span>
                     View Product
                  </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Boy Fashion
              </h5>
              <div class="product_info">
                <p>
                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                </p>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/b2.jpg" alt="">
              <a href="" class="add_cart_btn">
                  <span>
                     View Product
                  </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Boy Fashion 0 - 12 yrs
              </h5>
              <div class="product_info">
                <p>
                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                </p>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/b3.jpg" alt="">
              <a href="" class="add_cart_btn">
                  <span>
                     View Product
                  </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Boy Fashion 0 - 12 yrs
              </h5>
              <div class="product_info">
                <p>
                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_box">
        <a href="" class="view_more-link">
          View More
        </a>
      </div>
    </div>
  </section>
  
  <!-- end product section -->
  
  
  <!-- product section -->
  
  <section class="product_section layout_padding2 jarallax" style="background-image: url(assets/images/parallax.jpeg);">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2>
          <span>PRODUCT</span> CATEGORIES
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/g1.jpg" alt="">
              <a href="" class="add_cart_btn">
                  <span>
                    View Product
                  </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Gril Fashion
              </h5>
              <div class="product_info">
                <p>
                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                </p>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/g2.jpg" alt="">
              <a href="" class="add_cart_btn">
                  <span>
                     View Product
                  </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Girl Fashion 0 - 6 yrs
  
              </h5>
              <div class="product_info">
                <p>
                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                </p>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/g3.jpg" alt="">
              <a href="" class="add_cart_btn">
                  <span>
                     View Product
                  </span>
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Girl Fashion 0 - 6 yrs
              </h5>
              <div class="product_info">
                <p>
                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                </p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_box">
        <a href="" class="view_more-link">
          View More
        </a>
      </div>
    </div>
  </section>
  
  <!-- end product section -->
  
  
  
  <!-- warming fashion  section -->
  
  <section class="product_section layout_padding3">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2>
          <span>Warming</span> Fashion
        </h2>
      </div>
      <div class="row">
        <div class="owl-carousel warming-carousel owl-theme">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="assets/images/p1.jpg" alt="">
                <a href="" class="add_cart_btn">
                      <span>
                        View Product
                      </span>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  GIRL FASHION
                </h5>
                <div class="product_info">
                  <p>
                    Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                  </p>
  
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="assets/images/p2.jpg" alt="">
                <a href="" class="add_cart_btn">
                      <span>
                        View Product
                      </span>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  GIRL FASHION
                </h5>
                <div class="product_info">
                  <p>
                    Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                  </p>
  
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="assets/images/p3.jpg" alt="">
                <a href="" class="add_cart_btn">
                      <span>
                        View Product
                      </span>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  GIRL FASHION
                </h5>
                <div class="product_info">
                  <p>
                    Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                  </p>
  
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="assets/images/p4.jpg" alt="">
                <a href="" class="add_cart_btn">
                      <span>
                        View Product
                      </span>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  GIRL FASHION
                </h5>
                <div class="product_info">
                  <p>
                    Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                  </p>
  
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="assets/images/p5.jpg" alt="">
                <a href="" class="add_cart_btn">
                      <span>
                        View Product
                      </span>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  GIRL FASHION
                </h5>
                <div class="product_info">
                  <p>
                    Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                  </p>
  
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="assets/images/p6.jpg" alt="">
                <a href="" class="add_cart_btn">
                      <span>
                        View Product
                      </span>
                </a>
              </div>
              <div class="detail-box">
                <h5>
                  GIRL FASHION
                </h5>
                <div class="product_info">
                  <p>
                    Lorem ipsum dolor amet.Lorem ipsum dolor amet.
                  </p>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end warming fashion section -->
  
  <!-- ======= Clients Section ======= -->
  <!--<section id="clients" class="clients layout_padding4">-->
  <!--  <div class="container-fluid">-->
  
  <!--    <div class="owl-carousel clients-carousel">-->
  <!--      <img src="assets/images/client-1.png" alt="">-->
  <!--      <img src="assets/images/client-2.png" alt="">-->
  <!--      <img src="assets/images/client-3.png" alt="">-->
  <!--      <img src="assets/images/client-4.png" alt="">-->
  <!--      <img src="assets/images/client-5.png" alt="">-->
  <!--      <img src="assets/images/client-6.png" alt="">-->
  <!--      <img src="assets/images/client-7.png" alt="">-->
  <!--      <img src="assets/images/client-8.png" alt="">-->
  <!--    </div>-->
  
  <!--  </div>-->
  <!--</section>-->
  <!-- End Clients Section -->
  
  <!--Client Section-->
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="container rounded">
        <h1 class="text-center">Partners</h1>
        <div class="slider">
          <div class="logos">
  <!--          <i class="fab fa-js fa-4x"></i>-->
  <!--          <i class="fab fa-linkedin-in fa-4x"></i>-->
  <!--          <i class="fab fa-dribbble fa-4x"></i>-->
  <!--          <i class="fab fa-medium-m fa-4x"></i>-->
  <!--          <i class="fab fa-github fa-4x"></i>-->
            <img src="assets/images/client-1.png" alt="">
            <img src="assets/images/client-2.png" alt="">
            <img src="assets/images/client-3.png" alt="">
            <img src="assets/images/client-4.png" alt="">
            <img src="assets/images/client-5.png" alt="">
            <img src="assets/images/client-6.png" alt="">
            <img src="assets/images/client-7.png" alt="">
            <img src="assets/images/client-8.png" alt="">
          </div>
          <div class="logos">
            <i class="fab fa-js fa-4x"></i>
            <i class="fab fa-linkedin-in fa-4x"></i>
            <i class="fab fa-dribbble fa-4x"></i>
            <i class="fab fa-medium-m fa-4x"></i>
            <i class="fab fa-github fa-4x"></i>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <!--Client Section End Here-->
  <!-- Winter Product-->
<!--  <div class="tcb-product-slider">-->
<!--    <div class="container">-->
<!--      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
<!--        &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
<!--        <div class="carousel-inner" role="listbox">-->
<!--          <div class="item active">-->
<!--            <div class="row">-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/Z7eqMnj.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Olympus Photo Camera </a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(4,585 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 495.00 (17% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/fCrZot6.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Coca Cola Bottle</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(245 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 99.00 (21% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/kTmJp8W.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Jewel from Italy</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(345 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 999.00 (33% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/sMwmKmh.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">White Pepper</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(45 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 199.00 (37% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <div class="row">-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/RuPhz54.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Belt Improted From Japan</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(2,125 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 49.00 (40% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/e4ARfEJ.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Tomato</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(5 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 9.00-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/ZlchtwK.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Tape Line</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(215 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 39.00 (15% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/GRPrGN6.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Test Glasses For Lab</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(10,345 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 11,999.00 (37% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="item">-->
<!--            <div class="row">-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/Ds5mtGy.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Jewel From India</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(945 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 299.00 (54% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/e7IYyso.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Red Pepper</a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(15 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 5.00 (11% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/vuRE1W6.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Pro Cell Batteries </a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(745 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 19.00 (63% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xs-6 col-sm-3">-->
<!--                <div class="tcb-product-item">-->
<!--                  <div class="tcb-product-photo">-->
<!--                    <a href="#"><img src="https://i.imgur.com/UibcRla.jpg" class="img-responsive" alt="a" /></a>-->
<!--                  </div>-->
<!--                  <div class="tcb-product-info">-->
<!--                    <div class="tcb-product-title">-->
<!--                      <h4><a href="#">Eye Glasses </a></h4></div>-->
<!--                    <div class="tcb-product-rating">-->
<!--                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>-->
<!--                      <a href="#">(145 ratings)</a>-->
<!--                    </div>-->
<!--                    <div class="tcb-hline"></div>-->
<!--                    <div class="tcb-product-price">-->
<!--                      $ 129.00 (29% off)-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Controls &ndash;&gt;-->
<!--        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
<!--          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--          <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
<!--          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
<!--          <span class="sr-only">Next</span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  
  <!--Winter Product End Here-->
  <!-- product section -->
  
  <!--<section class="product_section layout_padding">-->
  <!--  <div class="container">-->
  <!--    <div class="heading_container heading_center">-->
  <!--      <h2>-->
  <!--        PRODUCT CATEGORIES-->
  <!--      </h2>-->
  <!--    </div>-->
  <!--    <div class="row">-->
  <!--      <div class="col-sm-6 col-lg-4">-->
  <!--        <div class="box">-->
  <!--          <div class="img-box">-->
  <!--            <img src="assets/image1/b1.jpg" alt="">-->
  <!--            <a href="" class="add_cart_btn">-->
  <!--                <span>-->
  <!--                   View Product-->
  <!--                </span>-->
  <!--            </a>-->
  <!--          </div>-->
  <!--          <div class="detail-box">-->
  <!--            <h5>-->
  <!--              BOY FASHION-->
  <!--            </h5>-->
  <!--            <div class="product_info">-->
  <!--              <p>-->
  <!--                Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--              </p>-->
  
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-sm-6 col-lg-4">-->
  <!--        <div class="box">-->
  <!--          <div class="img-box">-->
  <!--            <img src="assets/image1/b2.jpg" alt="">-->
  <!--            <a href="" class="add_cart_btn">-->
  <!--                <span>-->
  <!--                   View Product-->
  <!--                </span>-->
  <!--            </a>-->
  <!--          </div>-->
  <!--          <div class="detail-box">-->
  <!--            <h5>-->
  <!--              BOY FASHION 0 – 6 yrs-->
  <!--            </h5>-->
  <!--            <div class="product_info">-->
  <!--              <p>-->
  <!--                Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--              </p>-->
  
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-sm-6 col-lg-4">-->
  <!--        <div class="box">-->
  <!--          <div class="img-box">-->
  <!--            <img src="assets/image1/b3.jpg" alt="">-->
  <!--            <a href="" class="add_cart_btn">-->
  <!--                <span>-->
  <!--                   View Product-->
  <!--                </span>-->
  <!--            </a>-->
  <!--          </div>-->
  <!--          <div class="detail-box">-->
  <!--            <h5>-->
  <!--              BOY FASHION 0 – 12 yrs-->
  <!--            </h5>-->
  <!--            <div class="product_info">-->
  <!--              <p>-->
  <!--                Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--              </p>-->
  
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="btn_box">-->
  <!--      <a href="" class="view_more-link">-->
  <!--        View More-->
  <!--      </a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</section>-->
  
  <!-- end product section -->
  
  <!-- product section -->
  
  <!--<section class="product_section layout_padding" style="background-color: #5a6268">-->
  <!--  <div class="container">-->
  <!--    <div class="heading_container heading_center">-->
  <!--      <h2>-->
  <!--        PRODUCT CATEGORIES-->
  <!--      </h2>-->
  <!--    </div>-->
  <!--    <div class="row">-->
  <!--      <div class="col-sm-6 col-lg-4">-->
  <!--        <div class="box">-->
  <!--          <div class="img-box">-->
  <!--            <img src="assets/images/p1.jpg" alt="">-->
  <!--            <a href="" class="add_cart_btn">-->
  <!--                <span>-->
  <!--                  View Product-->
  <!--                </span>-->
  <!--            </a>-->
  <!--          </div>-->
  <!--          <div class="detail-box">-->
  <!--            <h5>-->
  <!--              GIRL FASHION-->
  <!--            </h5>-->
  <!--            <div class="product_info">-->
  <!--              <p>-->
  <!--                Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--              </p>-->
  
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-sm-6 col-lg-4">-->
  <!--        <div class="box">-->
  <!--          <div class="img-box">-->
  <!--            <img src="assets/images/p2.jpg" alt="">-->
  <!--            <a href="" class="add_cart_btn">-->
  <!--                <span>-->
  <!--                   View Product-->
  <!--                </span>-->
  <!--            </a>-->
  <!--          </div>-->
  <!--          <div class="detail-box">-->
  <!--            <h5>-->
  <!--              GIRL FASHION 0 – 6 yrs-->
  <!--            </h5>-->
  <!--            <div class="product_info">-->
  <!--              <p>-->
  <!--                Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--              </p>-->
  
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-sm-6 col-lg-4">-->
  <!--        <div class="box">-->
  <!--          <div class="img-box">-->
  <!--            <img src="assets/images/p3.jpg" alt="">-->
  <!--            <a href="" class="add_cart_btn">-->
  <!--                <span>-->
  <!--                   View Product-->
  <!--                </span>-->
  <!--            </a>-->
  <!--          </div>-->
  <!--          <div class="detail-box">-->
  <!--            <h5>-->
  <!--              GIRL FASHION 0 – 12 yrs-->
  <!--            </h5>-->
  <!--            <div class="product_info">-->
  <!--              <p>-->
  <!--                Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--              </p>-->
  
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="btn_box">-->
  <!--      <a href="" class="view_more-link">-->
  <!--        View More-->
  <!--      </a>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</section>-->
  
  <!-- end product section -->
  
  <!-- this glassdoor design -->
  <!--<div class="container1">-->
  <!--  <div class="card">-->
  <!--    <div class="box">-->
  <!--      <div class="content">-->
  <!--        <h2>-->
  <!--          01-->
  <!--        </h2>-->
  <!--        <h3>Card 1</h3>-->
  <!--        <p>-->
  <!--          Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--        </p>-->
  <!--        <a>see more</a>-->
  <!--      </div>-->
  
  <!--    </div>-->
  
  <!--  </div>-->
  <!--  <div class="card">-->
  <!--    <div class="box">-->
  <!--      <div class="content">-->
  <!--        <h2>-->
  <!--          02-->
  <!--        </h2>-->
  <!--        <h3>Card Two</h3>-->
  <!--        <p>-->
  <!--          Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--        </p>-->
  <!--        <a >See More</a>-->
  <!--      </div>-->
  
  <!--    </div>-->
  
  <!--  </div>-->
  <!--  <div class="card">-->
  <!--    <div class="box">-->
  <!--      <div class="content">-->
  <!--        <h2>-->
  <!--          03-->
  <!--        </h2>-->
  <!--        <h3>Card Three</h3>-->
  <!--        <p>-->
  <!--          Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--        </p>-->
  <!--        <a >See More</a>-->
  <!--      </div>-->
  
  <!--    </div>-->
  
  <!--  </div>-->
  
  <!--</div>-->
  
  <!--end glassdoor design-->
  
  
  <!-- warming fashion  section -->
  
  <!--<div class="product_section layout_padding">-->
  <!--  <div class="container">-->
  <!--    <div class="heading_container heading_center">-->
  <!--      <h2>-->
  <!--        Warming Fashion-->
  <!--      </h2>-->
  <!--    </div>-->
  <!--    <div class="row">-->
  <!--      <div class="owl-carousel warming-carousel owl-theme">-->
  <!--        <div class="item">-->
  <!--          <div class="box">-->
  <!--            <div class="img-box">-->
  <!--              <img src="assets/image1/b1.jpg" alt="">-->
  <!--              <a href="" class="add_cart_btn">-->
  <!--                    <span>-->
  <!--                      View Product-->
  <!--                    </span>-->
  <!--              </a>-->
  <!--            </div>-->
  <!--            <div class="detail-box">-->
  <!--              <h5>-->
  <!--                GIRL FASHION-->
  <!--              </h5>-->
  <!--              <div class="product_info">-->
  <!--                <p>-->
  <!--                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--                </p>-->
  
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="item">-->
  <!--          <div class="box">-->
  <!--            <div class="img-box">-->
  <!--              <img src="assets/image1/b2.jpg" alt="">-->
  <!--              <a href="" class="add_cart_btn">-->
  <!--                    <span>-->
  <!--                      View Product-->
  <!--                    </span>-->
  <!--              </a>-->
  <!--            </div>-->
  <!--            <div class="detail-box">-->
  <!--              <h5>-->
  <!--                GIRL FASHION-->
  <!--              </h5>-->
  <!--              <div class="product_info">-->
  <!--                <p>-->
  <!--                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--                </p>-->
  
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="item">-->
  <!--          <div class="box">-->
  <!--            <div class="img-box">-->
  <!--              <img src="assets/images/p3.jpg" alt="">-->
  <!--              <a href="" class="add_cart_btn">-->
  <!--                    <span>-->
  <!--                      View Product-->
  <!--                    </span>-->
  <!--              </a>-->
  <!--            </div>-->
  <!--            <div class="detail-box">-->
  <!--              <h5>-->
  <!--                GIRL FASHION-->
  <!--              </h5>-->
  <!--              <div class="product_info">-->
  <!--                <p>-->
  <!--                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--                </p>-->
  
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="item">-->
  <!--          <div class="box">-->
  <!--            <div class="img-box">-->
  <!--              <img src="assets/images/p4.jpg" alt="">-->
  <!--              <a href="" class="add_cart_btn">-->
  <!--                    <span>-->
  <!--                      View Product-->
  <!--                    </span>-->
  <!--              </a>-->
  <!--            </div>-->
  <!--            <div class="detail-box">-->
  <!--              <h5>-->
  <!--                GIRL FASHION-->
  <!--              </h5>-->
  <!--              <div class="product_info">-->
  <!--                <p>-->
  <!--                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--                </p>-->
  
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="item">-->
  <!--          <div class="box">-->
  <!--            <div class="img-box">-->
  <!--              <img src="assets/images/p5.jpg" alt="">-->
  <!--              <a href="" class="add_cart_btn">-->
  <!--                    <span>-->
  <!--                      View Product-->
  <!--                    </span>-->
  <!--              </a>-->
  <!--            </div>-->
  <!--            <div class="detail-box">-->
  <!--              <h5>-->
  <!--                GIRL FASHION-->
  <!--              </h5>-->
  <!--              <div class="product_info">-->
  <!--                <p>-->
  <!--                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--                </p>-->
  
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="item">-->
  <!--          <div class="box">-->
  <!--            <div class="img-box">-->
  <!--              <img src="assets/images/p6.jpg" alt="">-->
  <!--              <a href="" class="add_cart_btn">-->
  <!--                    <span>-->
  <!--                      View Product-->
  <!--                    </span>-->
  <!--              </a>-->
  <!--            </div>-->
  <!--            <div class="detail-box">-->
  <!--              <h5>-->
  <!--                GIRL FASHION-->
  <!--              </h5>-->
  <!--              <div class="product_info">-->
  <!--                <p>-->
  <!--                  Lorem ipsum dolor amet.Lorem ipsum dolor amet.-->
  <!--                </p>-->
  
  <!--              </div>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  
  <!-- end warming fashion section -->
  
  <!-- ======= Clients Section ======= -->
  <!--<section id="clients" class="clients layout_padding">-->
  <!--  <div class="container">-->
  
  <!--    <div class="owl-carousel clients-carousel">-->
  <!--      <img src="assets/images/client-1.png" alt="">-->
  <!--      <img src="assets/images/client-2.png" alt="">-->
  <!--      <img src="assets/images/client-3.png" alt="">-->
  <!--      <img src="assets/images/client-4.png" alt="">-->
  <!--      <img src="assets/images/client-5.png" alt="">-->
  <!--      <img src="assets/images/client-6.png" alt="">-->
  <!--      <img src="assets/images/client-7.png" alt="">-->
  <!--      <img src="assets/images/client-8.png" alt="">-->
  <!--    </div>-->
  
  <!--  </div>-->
  <!--</section>-->
  <!-- End Clients Section -->
  
  <!--clien section End-->
